{
    "bridge": {
        "name": "RPi-Farm-Mon",
        "username": "AA:BB:CC:11:22:33",
        "port": 51826,
        "pin": "031-45-154",
        "manufacturer": "@mbuzz15",
        "model": "Homebridge",
        "serialNumber": "0.0.1"
    },
    
    "description": "",

    "platforms": [],

    "accessories": [
        {
            "accessory": "CMD",
            "name": "データ送信",
            "on_cmd": "echo 'on' >/dev/null",
            "off_cmd": "echo 'off' >/dev/null"
        }
    ]
}
